.header {
  display: grid;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  padding: 0 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
}

.logo {
  /* display: grid; */
}

.searchbar {
  /* display: grid; */
  height: 100%;
  justify-self: center;
}

.navigation {
  /* display: grid; */
  justify-self: end;
}
