@keyframes rotate-clock {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.header {
  display: grid;
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px;
  border-bottom: 1px solid var(--accordion-hover);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;

  --header-height: auto;
}

.brand {
  display: flex;

  .logo-wrapper {
    position: relative;

    display: inline-flex;
    align-items: center;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    box-shadow: 0 0 7.5px;
    transition: box-shadow var(--timing-normal) ease-in-out;

    &:hover {
      box-shadow: 0 0 20px;
    }

    &::before {
      position: absolute;
      top: 25%;
      left: 50%;

      display: block;
      width: 1.5px;
      height: 25px;

      background-color: var(--foreground);

      box-shadow: 0 0 10px;

      transform: translate(-50%, -50%) rotate(0deg);
      animation: rotate-clock 5s linear infinite;
      content: "";
      transform-origin: bottom center;
    }

    &::after {
      position: absolute;

      top: 50%;
      left: 50%;

      width: 3px;
      height: 3px;

      background-color: var(--foreground);
      border-radius: 50%;

      transform: translate(-50%, -50%);
      content: "";
    }
  }

  .logo {
    border: 1px solid var(--foreground);
    border-radius: 50%;
  }

  .title {
    line-height: 0.9;
    margin-left: 8px;
  }
}

.searchbar {
  height: 100%;
  justify-self: center;
}

.navigation {
  justify-self: end;
}
