.thumbnail {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50%;
}
