.thumbnail-wrapper,
.weapon-thumbnail-wrapper {
  position: relative;

  width: 100px;
  height: 100px;

  border-radius: var(--radius);

  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 50%;
}

.badge-wrapper {
  position: absolute;
  right: 2px;
  bottom: 2px;

  transform: scale(0.85);
}
