.card {
  display: grid;
  grid-template-rows: 200px 1fr 50px;
  grid-template-areas:
    "header"
    "body"
    "footer";

  width: 400px;

  border-radius: 8px;
  overflow: hidden;

  background: var(--surface);
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  padding: 8px;

  display: grid;
  grid-auto-rows: min-content;
  gap: 16px;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background: var(--surface-footer);

  color: var(--text-primary);
  font-weight: bold;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--surface);

  &:last-child {
    border-right: none;
  }

  span {
    margin-left: 4px;
  }
}

.badge {
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 900;
  color: var(--text-primary);
}

.badges {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  margin: 16px 16px 0px 16px;
}

.name {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text-primary);
  text-transform: uppercase;
  margin: 0px 16px 0px 16px;
}

.description {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-secondary);
  margin: 0 16px 0px 16px;
}

.location {
  font-size: 1rem;
  font-weight: 900;
  color: var(--text-primary);
  margin: 0 16px 0px 16px;
}

.area {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-secondary);
  margin: 0 16px 16px 16px;
}

