.item-page {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 8px;
}

.components,
.used-in,
.recycle-components,
.recycle-from {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0.75rem 0.75rem;
  gap: 8px;
}

.thumbnail-wrapper {
  width: 100px;
  height: 100px;
}
