.item-page {
  display: grid;
  height: calc(100dvh - var(--header-height));
  grid-template-columns: 1fr 400px 1fr;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 8px;
}

.center {
  margin: 16px 0;
}

.components,
.used-in,
.recycle-components,
.recycle-from {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem 0.75rem 0.75rem;
  gap: 8px;
}

.thumbnail-wrapper {
  position: relative;

  width: 100px;
  height: 100px;

  border-radius: 8px;

  overflow: hidden;
}
