:root {
  --background: #fff;
  --foreground: #171717;

  /* Text */
  --text-primary: #171717;
  --text-secondary: #6c6c6c;
  --text-tertiary: oklch(55% 0.04 257.45deg);

  /* Rarity Common */
  --rarity-common: hsl(120deg 1% 45% / 100%);
  --rarity-common-medium: hsl(120deg 1% 30% / 100%);
  --rarity-common-dark: hsl(120deg 1% 10% / 100%);

  /* Rarity Uncommon */
  --rarity-uncommon: hsl(134deg 81% 59% / 100%);
  --rarity-uncommon-medium: hsl(134deg 81% 45% / 100%);
  --rarity-uncommon-dark: hsl(134deg 81% 10% / 100%);

  /* Rarity Rare */
  --rarity-rare: hsl(193deg 97% 55% / 100%);
  --rarity-rare-medium: hsl(193deg 97% 40% / 100%);
  --rarity-rare-dark: hsl(193deg 97% 10% / 100%);

  /* Rarity Epic */
  --rarity-epic: hsl(321deg 69% 50% / 100%);
  --rarity-epic-medium: hsl(321deg 69% 35% / 100%);
  --rarity-epic-dark: hsl(321deg 69% 10% / 100%);

  /* Rarity Legendary */
  --rarity-legendary: hsl(48deg 100% 49% / 100%);
  --rarity-legendary-medium: hsl(48deg 100% 35% / 100%);
  --rarity-legendary-dark: hsl(48deg 100% 10% / 100%);

  /* Rarity Generic */
  --rarity-generic: hsl(0deg 0% 70%);

  /* Surface */
  --surface: hsl(40deg 26% 93% / 100%);
  --surface-footer: #d9cfbf;
  --accordion-hover: rgb(30 41 59);

  /* Border Radius */
  --border-radius-style: 8px;

  /* Timings */
  --timing-fast: 120ms;
  --timing-normal: 200ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(16 25 34);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);

  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
