:root {
  --background: #fff;
  --foreground: #171717;
  --text-primary: #171717;
  --text-secondary: #6c6c6c;
  --rarity-common: hsl(120deg 1% 45% / 100%);
  --rarity-uncommon: hsl(134deg 81% 59% / 100%);
  --rarity-rare: hsl(193deg 97% 55% / 100%);
  --rarity-epic: hsl(321deg 69% 50% / 100%);
  --rarity-legendary: hsl(48deg 100% 49% / 100%);
  --surface: hsl(40deg 26% 93% / 100%);
  --surface-footer: #d9cfbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);

  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
