.card {
  display: grid;

  width: 400px;

  background: var(--surface);

  border-radius: 8px;

  overflow: hidden;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: 200px 1fr 50px;
}

.header {
  grid-area: header;
}

.body {
  display: grid;
  padding: 8px;
  gap: 16px;
  grid-area: body;
  grid-auto-rows: min-content;
}

.footer {
  display: grid;

  font-weight: bold;

  color: var(--text-primary);

  background: var(--surface-footer);
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
}

.stat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--surface);

  &:last-child {
    border-right: none;
  }

  span {
    margin-left: 4px;
  }
}

.badge-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 16px 0;
  gap: 2px;
}

.name {
  margin: 0 16px;

  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text-primary);
}

.description {
  margin: 0 16px;

  font-size: 1rem;
  font-weight: 600;
  color: var(--text-secondary);
}

.location {
  margin: 0 16px;

  font-size: 1rem;
  font-weight: 900;
  color: var(--text-primary);
}

.area {
  margin: 0 16px 16px;

  font-size: 1rem;
  font-weight: 600;
  color: var(--text-secondary);
}
