.input-container {
  position: relative;

  width: 450px;
  height: 100%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 6px;

  font-size: large;

  border: 1px solid var(--surface);
  border-radius: var(--border-radius-style);
  outline-style: none;

  &.input-with-autocomplete {
    /* transition: border-radius var(--timing-normal) ease; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.clear {
  position: absolute;
  top: 50%;
  right: 15px;

  font-size: xx-large;

  transform: translate(0, -50%);
  cursor: pointer;
}

.autocomplete {
  position: absolute;
  top: 0;
  z-index: 5;

  width: 100%;

  color: var(--text-primary);

  background: var(--surface);

  opacity: 0;

  overflow: hidden;

  border-bottom-left-radius: var(--border-radius-style);
  border-bottom-right-radius: var(--border-radius-style);

  & .list-item {
    height: 40px;
    padding: 0 6px;

    line-height: 2.5;
    list-style-type: none;

    &:hover {
      background-color: skyblue;
    }
  }
}

.show-autocomplete {
  top: 50px;

  opacity: 1;

  /* transition: top var(--timing-fast) ease; */

  transition: opacity var(--timing-fast) ease;
}

.hide {
  display: none;
}
